amp-list(src='/javascripts/response/portfolio/source.1.json', single-item, items='portfolio', class='m1', height='24', [height]='portfolio.length * 24')
  template(type='amp-mustache')
    p
      strong Name
      | : {{name}}
    p
      strong Description
      | : {{description}}
    amp-img(src='{{cover}}', width='20', height='20', class='portfolio-image', layout="responsive")

//- form(method='GET', action='/javascripts/response/portfolio/source.1.json', action-xhr='/javascripts/response/portfolio/source.1.json', target='_top', on='submit-success: AMP.setState({ productsState: {items: productsState.items.concat(event.response.items)}, product: { moreItemsPageIndex: product.moreItemsPageIndex + 1, hasMorePages: event.response.hasMorePages } });')
//-  input(type='hidden', name='moreItemsPageIndex', value='0', [value]='next')
//-  input(type='submit', value='Show more', class='ampstart-btn caps m1 show', [class]='(product.hasMorePages == false ? \'hide\' : \'ampstart-btn caps m1 mb3 show\'')
