div(id="description", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills3", aria-expanded="true") Description
  ul(id="skills3", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") Texture Art
      div(class="line", aria-label="70%")
        span(style="width: 70%;")
    li(class="skill")
      span(class="h5") 3D Art
      div(class="line", aria-label="73%")
        span(style="width: 73%;")
    li(class="skill")
      span(class="h5") Environment Design
      div(class="line", aria-label="78%")
        span(style="width: 78%;")
    li(class="skill")
      span(class="h5") Game Design
      div(class="line", aria-label="80%")
        span(style="width: 80%;")
    li(class="skill")
      span(class="h5") Game Development
      div(class="line", aria-label="80%")
        span(style="width: 80%;")
    li(class="skill")
      span(class="h5") Web Development
      div(class="line", aria-label="82%")
        span(style="width: 82%;")
    li(class="skill")
      span(class="h5") Web Design
      div(class="line", aria-label="82%")
        span(style="width: 82%;")
    li(class="skill")
      span(class="h5") Web Performance
      div(class="line", aria-label="84%")
        span(style="width: 84%;")
    li(class="skill")
      span(class="h5") Web Analytics
      div(class="line", aria-label="78%")
        span(style="width: 78%;")
    li(class="skill")
      span(class="h5") User Interface Design
      div(class="line", aria-label="82%")
        span(style="width: 82%;")
