div(id="description", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills3", aria-expanded="true") Description
  ul(id="skills3", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") Texture Art
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
    li(class="skill")
      span(class="h5") 3D Art
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
    li(class="skill")
      span(class="h5") Environment Design
      div(class="line", aria-label="95%")
        span(style="width: 95%;")
    li(class="skill")
      span(class="h5") Game Design
      div(class="line", aria-label="92%")
        span(style="width: 92%;")
    li(class="skill")
      span(class="h5") Game Development
      div(class="line", aria-label="92%")
        span(style="width: 92%;")
    li(class="skill")
      span(class="h5") Web Development
      div(class="line", aria-label="94%")
        span(style="width: 94%;")
    li(class="skill")
      span(class="h5") Web Design
      div(class="line", aria-label="94%")
        span(style="width: 94%;")
    li(class="skill")
      span(class="h5") Web Performance
      div(class="line", aria-label="92%")
        span(style="width: 92%;")
    li(class="skill")
      span(class="h5") Web Analytics
      div(class="line", aria-label="92%")
        span(style="width: 92%;")
    li(class="skill")
      span(class="h5") User Interface Design
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
