<IfModule mime_module>
  AddType application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
<IfModule mod_rewrite.c>
  <IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>

  RewriteEngine On

  # RewriteCond %{HTTPS} off
  # RewriteRule .* https://%{HTTP_Host}%{REQUEST_URI} [L,R=301]
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteRule ^api/$ api/ [L]
  RewriteRule ^api/(.*) api/$1 [L]

  # RewriteRule ^$ project/ [L]
  # RewriteRule (.*) project/$1 [L]
</IfModule>
