div(class="no-bg container")
  h2(class="text-center") Experience
  ul(class="experience")
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="http://www.haworthmedia.com/", target="_blank", rel="noreferrer")
            img(src="/images/experience/haworth.png", alt="Haworth Marketing + Media")
        p(class="position") Software Developer
        p(class="time")
          span January 2019
          span
            |  - 
          span Present
        p(class="description") As a member of the software engineering team I am responsible for application development including middleware development between internal and external systems and web application development.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="https://www.encore.com/", target="_blank", rel="noreferrer")
            img(src="/images/experience/encore.png", alt="Encore Software")
        p(class="position") Web Developer
        p(class="time")
          span August 2012
          span
            |  - 
          span January 2019
        p(class="description") Creating and updating product web pages and product emails is my primary position. I also have a secondary position as Quality Assurance. I check products for quality that are in development and products that have already been released for current technologies.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="https://www.b507.us/", target="_blank", rel="noreferrer")
            img(src="/images/experience/b507.png", alt="B507")
        p(class="position") Front End Team Leader
        p(class="time")
          span August 2016
          span
            |  - 
          span June 2018
        p(class="description") Used the latest web technologies (Angular, AngularJS, Laravel PHP Blade) to build web applications for our clients both on Minnesota State University, Mankato campus and off campus.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="https://www.mastercook.com/", target="_blank", rel="noreferrer")
            img(src="/images/experience/valusoft_cosmi.png", alt="ValuSoft Cosmi")
        p(class="position") Web Developer
        p(class="time")
          span August 2012
          span
            |  - 
          span December 2013
        p(class="description") Use a variety of web programming laguages for user interface development.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="http://theory.io/", target="_blank", rel="noreferrer")
            img(src="/images/experience/theoryio.png", alt="Theory.io")
        p(class="position") Web Developer
        p(class="time")
          span March 2012
          span
            |  - 
          span December 2012
        p(class="description") Developed company website to provide helpful information for series of organizational iPad apps developed by the iPad team.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="https://www.yourpersonaldesigner.com/", target="_blank", rel="noreferrer")
            img(src="/images/experience/preferred_interactive.png", alt="Preferred Interactive")
        p(class="position") Image Detailer
        p(class="time")
          span March 2012
          span
            |  - 
          span June 2012
        p(class="description") Used Photoshop batch scripts to add materials to house images such as counters, walls, floors and ceilings.
    li(class="company")
      div(class="group")
        div(class="image")
          a(href="https://www.thqnordic.com/", target="_blank", rel="noreferrer")
            img(src="/images/experience/valusoft_thq.png", alt="ValuSoft THQ")
        p(class="position") QA Lead
        p(class="time")
          span July 2011
          span
            |  - 
          span March 2012
        p(class="description") Test bugs/glitches with games, created steam depots for steam game release, disc setup, and game play video for retail presentations and marketing events.
