div(class="container")
  div(class="profile-wrapper")
    div(class="image")
      img(src="/images/me.jpeg", alt="Eric Tiedeken")
    div(class="greeting")
      h1 Eric Tiedeken
      p(class="h3 tagline") Designer and Developer
      p(class="subtagline")
        span Game
        span
          |  ● 
        span Mobile
        span
          |  ● 
        span Software
        span
          |  ● 
        span Web
        span
          |  ● 
      hr
    div(class="info")
      p
        label address
        span Minnesota
      p
        label age
        span= age
      p
        label email
        span eric.tiedeken@gmail.com
      p
        label phone
        span 507-339-5397
