div(class="no-bg container")
  h2(class="text-center") Education
  ul(class="education")
    li(class="school")
      div(class="group")
        h3(class="study")
          span Master of Science
          span
            |  - 
          span Information Technology
        p(class="school-name") Minnesota State University, Mankato
        div(class="time")
          span 2016
          span
            |  - 
          span 2018
        div(class="cgpa")
          span CGPA:
          span
            |  - 
          span 3.87
    li(class="school")
      div(class="group")
        h3(class="study")
          span Graduate Certificate
          span
            |  - 
          span Database Technology
        p(class="school-name") Minnesota State University, Mankato
        div(class="time")
          span 2016
          span
            |  - 
          span 2018
    li(class="school")
      div(class="group")
        h3(class="study")
          span Bachelor of Science
          span
            |  - 
          span Game Design and Development
        p(class="school-name") Brown College
        div(class="time")
          span 2008
          span
            |  - 
          span 2011
        div(class="cgpa")
          span CGPA:
          span
            |  - 
          span 3.46
