nav(class="no-bg container")
  ul(class="nav")
    li(class="nav-item")
      a(class="nav-click", href="/")
        img(src="/images/logo.png", alt="Home")
        span Home
    li(class="nav-item")
      button(type="button", aria-expanded="false", aria-controls="navbar", aria-label="Toggle Navigation")
        span
        span ×
  ul(class="nav", id="navbar")
    li(class="nav-item")
      a(class="nav-click", href="#profile") About
    li(class="nav-item sub-nav")
      button(class="nav-click", id="subnav3", aria-haspopup="true", aria-expanded="false", type="button") Versions
      ul(class="nav", aria-labelledby="subnav3")
        li(class="nav-item")
          a(class="nav-click", href="#versions") All Versions
        li(class="nav-item")
          a(class="nav-click", href="/amp") AMP
        li(class="nav-item")
          a(class="nav-click", href="/angularjs") AngularJS
        li(class="nav-item")
          a(class="nav-click", href="/angular") Angular
        li(class="nav-item")
          a(class="nav-click", href="/es6") JavaScript ES6
        li(class="nav-item")
          a(class="nav-click", href="/reactjs") ReactJS
    li(class="nav-item sub-nav")
      button(class="nav-click", id="subnav2", aria-haspopup="true", aria-expanded="false", type="button") Skills
      ul(class="nav", aria-labelledby="subnav2")
        li(class="nav-item")
          a(class="nav-click", href="#project-management") Project Management
        li(class="nav-item")
          a(class="nav-click", href="#software") Software
        li(class="nav-item")
          a(class="nav-click", href="#description") Description
        li(class="nav-item")
          a(class="nav-click", href="#frameworks") Frameworks
        li(class="nav-item")
          a(class="nav-click", href="#languages") Languages
    li(class="nav-item sub-nav")
      button(class="nav-click", id="subnav1", aria-haspopup="true", aria-expanded="false", type="button") Experience
      ul(class="nav", aria-labelledby="subnav1")
        li(class="nav-item")
          a(class="nav-click", href="#experience") Employers
        li(class="nav-item")
          a(class="nav-click", href="#education") Education
    li(class="nav-item")
      a(class="nav-click", href="#portfolio") Portfolio
