div(id="portfolio")
  div(class="no-bg container")
    h2(class="text-center") Portfolio
    div(class="portfolio")
      button(class="portfolio-item category-materials", type="button", data-name="Metal Plating", data-description="First project in Substance Designer. Use for metal plating. From the Substance Designer tutorial.", data-set="/images/portfolio/metal-plating-full.jpeg,/images/portfolio/metal-plating-maps.jpeg,/images/portfolio/metal-plating-surface.jpeg,/images/portfolio/metal-plating-nodes.jpeg", aria-label="Metal Plating", style="background-image: url('/images/portfolio/metal-plating-full.jpeg');")
      button(class="portfolio-item category-games", type="button", data-name="2D Sidescroller Game", data-description="First game project using the game engine Torque Game Builder. Also referred to Torque2D. This is a sidescrolling space shooter game and one of my most favourite projects that I've worked on.", data-set="/images/portfolio/2d-sidescroller-1.jpeg,/images/portfolio/2d-sidescroller-2.jpeg,/images/portfolio/2d-sidescroller-3.jpeg,/images/portfolio/2d-sidescroller-4.jpeg", aria-label="2D Sidescroller Game", style="background-image: url('/images/portfolio/2d-sidescroller-1.jpeg');")
      button(class="portfolio-item category-3d", type="button", data-name="Light Post", data-description="This light post is part of a 3D asset library that I created for my final graduation presentation. This light post was also used in the first person shooter project.", data-set="/images/portfolio/light-post.jpeg", aria-label="Light Post", style="background-image: url('/images/portfolio/light-post.jpeg');")
    div(class="text-center")
      button(class="portfolio-btn", data-next="2", type="button") +
