div(class="container")
  h2(class="text-center") View this site in:
  ul(class="versions")
    li(class="item")
      a(class="amp link", href="/amp")
        img(src="/images/versions/amp.png", alt="AMP")
        span(class="h5") AMP
    li(class="item")
      a(class="angularjs link", href="/angularjs")
        img(src="/images/versions/angularjs.png", alt="AngularJS")
        span(class="h5") AngularJS
    li(class="item")
      a(class="angular link", href="/angular")
        img(src="/images/versions/angular.png", alt="Angular")
        span(class="h5") Angular
    li(class="item")
      a(class="es6 link", href="/es6")
        img(src="/images/versions/javascript-es6.png", alt="ES6")
        span(class="h5") ES6
    li(class="item")
      a(class="reactjs link", href="/reactjs")
        img(src="/images/versions/reactjs.png", alt="ReactJS")
        span(class="h5") ReactJS
  h3(class="text-center") Which Version
  p(class="text-center") You are viewing this page developed using JavaScript ES6. Want more details? Take a look at Dev Tools.
