extends layout

block content
  div(id="out-of-date")
    h1 I'm upgrading. You should too.
    p I've been told to use 
      b ES6 
      | standards. If you're seeing this message that means your browser doesn't appear to support 
      b ES6 
      | standards. Please upgrade to a modern web browser that supports the newest web standards.
    p Thank you!!!
  div(id="navigation")
  div(id="profile")
  div(id="social")
  div(id="about")
  div(id="versions")
  div(id="skills")
  div(id="experience")
  div(id="education")