div(class="sphere")
  div(class="ball-wrapper")
    div(class="inner")
      div(class="wrap")
        div(class="scene")
          div(class="wrapper")
            ul(class="ball")
              - for (var n = 0; n < 20; n++)
                li(class="ring")
