div(class="no-bg container")
  p(class="text-center resume-wrapper")
    a(class="resume btn", href="/media/EricTiedeken_resume.docx") Download Resume
div(class="no-bg container")
  p(class="text-center description") Hello! I'm Eric Tiedeken, web developer specializing in front end development and performance. Experienced with all stages of the development cycle.
