div(id="frameworks", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills2", aria-expanded="true") Frameworks
  ul(id="skills2", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") AngularJS
      div(class="line", aria-label="65%")
        span(style="width: 65%;")
    li(class="skill")
      span(class="h5") Angular v4+
      div(class="line", aria-label="70%")
        span(style="width: 70%;")
    li(class="skill")
      span(class="h5") WordPress
      div(class="line", aria-label="73%")
        span(style="width: 73%;")
    li(class="skill")
      span(class="h5") Magento 2
      div(class="line", aria-label="68%")
        span(style="width: 68%;")
    li(class="skill")
      span(class="h5") AspDotNetStoreFront
      div(class="line", aria-label="64%")
        span(style="width: 64%;")
    li(class="skill")
      span(class="h5") JQuery
      div(class="line", aria-label="80%")
        span(style="width: 80%;")
    li(class="skill")
      span(class="h5") Bootstrap
      div(class="line", aria-label="82%")
        span(style="width: 82%;")
    li(class="skill")
      span(class="h5") Foundation
      div(class="line", aria-label="82%")
        span(style="width: 82%;")
    li(class="skill")
      span(class="h5") Material Design
      div(class="line", aria-label="74%")
        span(style="width: 74%;")
    li(class="skill")
      span(class="h5") Apache 2.2/2.4
      div(class="line", aria-label="69%")
        span(style="width: 69%;")
    li(class="skill")
      span(class="h5") Microsoft IIS
      div(class="line", aria-label="62%")
        span(style="width: 62%;")
