div(id="languages", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills1", aria-expanded="true") Languages
  ul(id="skills1", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") TypeScript
      div(class="line", aria-label="80%")
        span(style="width: 80%;")
    li(class="skill")
      span(class="h5") JavaScript (Vanilla/ES5+)
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
    li(class="skill")
      span(class="h5") SASS
      div(class="line", aria-label="95%")
        span(style="width: 95%;")
    li(class="skill")
      span(class="h5") CSS
      div(class="line", aria-label="100%")
        span(style="width: 100%;")
    li(class="skill")
      span(class="h5") HTML
      div(class="line", aria-label="100%")
        span(style="width: 100%;")
    li(class="skill")
      span(class="h5") PHP 5/7
      div(class="line", aria-label="76%")
        span(style="width: 76%;")
    li(class="skill")
      span(class="h5") ASP.NET
      div(class="line", aria-label="70%")
        span(style="width: 70%;")
    li(class="skill")
      span(class="h5") Relational Databases (SQL Server / MySQL / Oracle)
      div(class="line", aria-label="70%")
        span(style="width: 70%;")
