div(id="project-management", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills5", aria-expanded="true") Project Management
  ul(id="skills5", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") Git
      div(class="line", aria-label="86%")
        span(style="width: 86%;")
    li(class="skill")
      span(class="h5") GitHub
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
    li(class="skill")
      span(class="h5") Bitbucket
      div(class="line", aria-label="90%")
        span(style="width: 90%;")
    li(class="skill")
      span(class="h5") Team Foundation Server (TFS)
      div(class="line", aria-label="75%")
        span(style="width: 75%;")
    li(class="skill")
      span(class="h5") NodeJS
      div(class="line", aria-label="78%")
        span(style="width: 78%;")
    li(class="skill")
      span(class="h5") Composer
      div(class="line", aria-label="72%")
        span(style="width: 72%;")
    li(class="skill")
      span(class="h5") Homebrew
      div(class="line", aria-label="70%")
        span(style="width: 70%;")
    li(class="skill")
      span(class="h5") Trello
      div(class="line", aria-label="88%")
        span(style="width: 88%;")
