div(id="software", class="container")
  h3
    button(class="h3 text-center", type="button", aria-controls="skills4", aria-expanded="true") Software
  ul(id="skills4", class="skills", aria-expanded="true")
    li(class="skill")
      span(class="h5") Unreal Engine
      div(class="line", aria-label="66%")
        span(style="width: 66%;")
    li(class="skill")
      span(class="h5") Unity
      div(class="line", aria-label="60%")
        span(style="width: 60%;")
    li(class="skill")
      span(class="h5") Photoshop
      div(class="line", aria-label="77%")
        span(style="width: 77%;")
    li(class="skill")
      span(class="h5") xNormal
      div(class="line", aria-label="80%")
        span(style="width: 80%;")
    li(class="skill")
      span(class="h5") 3DS Max
      div(class="line", aria-label="75%")
        span(style="width: 75%;")
    li(class="skill")
      span(class="h5") Blender
      div(class="line", aria-label="55%")
        span(style="width: 55%;")
    li(class="skill")
      span(class="h5") Substance Designer
      div(class="line", aria-label="73%")
        span(style="width: 73%;")
    li(class="skill")
      span(class="h5") VS Code
      div(class="line", aria-label="74%")
        span(style="width: 74%;")
    li(class="skill")
      span(class="h5") Visual Studio
      div(class="line", aria-label="60%")
        span(style="width: 60%;")
    li(class="skill")
      span(class="h5") Xcode
      div(class="line", aria-label="55%")
        span(style="width: 55%;")
