<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

<Files .htaccess>
  Require all denied
</Files>
<Files app.js>
  Require all denied
</Files>
<Files package-lock.json>
  Require all denied
</Files>
<Files package.json>
  Require all denied
</Files>
<Files README.md>
  Require all denied
</Files>
