<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>