.navigation
  .container
    & > .nav
      &:last-child
        .submenu-open
          z-index: 1
          .nav-click
            & + .nav
              display: block
        .nav-click
          background-color: transparent
          text-decoration: none
          line-height: 1.2
          cursor: pointer
          font-size: 1em
          color: white
          padding: 8px
          border: 0
          & + .nav
            display: none
        .sub-nav
          & > .nav-click
            &::after
              display: inline-block
              vertical-align: top
              content: '\25bc'
              line-height: 1
              margin:
                left: 12px
                top: .3em
              font:
                weight: bold
                size: .6em

  a
    display: block
  button
    text-align: left
    width: 100%
  img
    display: block
    height: 40px
    width: 40px