.navigation
  transition: background-color 250ms, box-shadow 250ms, padding-top 250ms, padding-bottom 250ms
  padding:
    bottom: 15px
    top: 15px
  .container
    & > .nav
      &:first-child
        button
          color: #fff
          transition: color 250ms
          span
            &:first-child
              transition: border 250ms
              border:
                top:
                  color: #fff
                bottom:
                  color: #fff
              &:before
                transition: background-color 250ms
                background-color: #fff

      &:last-child
        transition: margin-top 250ms
        margin-top: 30px
  img
    filter: hue-rotate(-10deg) brightness(1.5)
    transition: filter 250ms

.top-scroll, .navigation-menu-open
  .navigation
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23)
    background-color: #fff
    padding:
      bottom: 0
      top: 0
    .container
      & > .nav
        &:first-child
          button
            color: #000
            span
              &:first-child
                border:
                  top-color: #000
                  bottom-color: #000
                &:before
                  background-color: #000
        &:last-child
          margin-top: 0
    img
      filter: hue-rotate(-10deg) brightness(1.2)

@media (min-width: 670px)
  .navigation
    .container
      & > .nav
        &:last-child
          margin-top: 0
          .nav-click
            transition: color 250ms
            color: #dadada


  .top-scroll, .navigation-menu-open
    .navigation
      .container
        & > .nav
          &:last-child
            .nav-click
              color: #5f5f5f