extends layout

block content
  div(id="out-of-date")
    include sections/out_of_date.pug
  div(id="navigation", class="navigation")
    include sections/navigation.pug
  div(class="close-navigation")
  div(class="background")
  div(id="profile", class="profile")
    include sections/profile.pug
  div(id="social", class="social-wrapper")
    include sections/social.pug
  include sections/sphere.pug
  div(id="about", class="about")
    include sections/about.pug
  div(id="versions", class="versions-wrapper")
    include sections/versions.pug
  div(id="skills")
  div(id="experience")
  div(id="portfolio")
  div(id="education")
  footer(id="footer", class="footer")
    include sections/footer.pug
  //-// Start of Tawk.to Script
  //-script(type="text/javascript").
  //-  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  //-  (function(){
  //-    var s1 = document.createElement("script"),
  //-      s0 = document.getElementsByTagName("script")[0];
  //-    s1.async=true;
  //-    s1.src='https://embed.tawk.to/5b61e869df040c3e9e0c2f10/default';
  //-    s1.charset='UTF-8';
  //-    s1.setAttribute('crossorigin','*');
  //-    s0.parentNode.insertBefore(s1,s0);
  //-  })();
  //-// End of Tawk.to Script
