<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /api/

  #RewriteCond %{HTTP_HOST} ^etiedeken.com
  #RewriteRule ^(.*)$ http://www.etiedeken.com/$1 [R=301,L]

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^(.*)$ index.php [PT,L]
</IfModule>

<Files .htaccess>
  <IfVersion < 2.4>
    order allow,deny
    deny from all
  </IfVersion>
  <IfVersion >= 2.4>
    Require all denied
  </IfVersion>
</Files>
<Files README.md>
  <IfVersion < 2.4>
    order allow,deny
    deny from all
  </IfVersion>
  <IfVersion >= 2.4>
    Require all denied
  </IfVersion>
</Files>