meta(charset='utf-8')
title= title
script(async, src='https://cdn.ampproject.org/v0.js')
script(async, custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js')
script(async, custom-element='amp-fit-text', src='https://cdn.ampproject.org/v0/amp-fit-text-0.1.js')
script(async, custom-element='amp-list', src='https://cdn.ampproject.org/v0/amp-list-0.1.js')
script(async, custom-element='amp-bind', src='https://cdn.ampproject.org/v0/amp-bind-0.1.js')
script(async, custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')
script(async, custom-template='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.2.js')
link(rel='canonical', href='http://example.ampproject.org/article-metadata.html')
meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no')
link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
meta(name='theme-color', content='#1a77d4')
meta(name='description', content='Eric Tiedeken, web developer specializing in front end development and performance. Experienced with all stages of the development cycle.')
link(rel='manifest', href='/manifest.webmanifest')
script(type='application/ld+json')
  include ../json/schema.json

style(amp-boilerplate)
  include:clean-css:sass ../sass/boilerplate.sass

noscript
  style(amp-boilerplate)
    include:clean-css:sass ../sass/noscript-boilerplate.sass
